.datepicker-popper[data-placement^="bottom"] .datepicker__triangle, .datepicker-popper[data-placement^="top"] .datepicker__triangle, .datepicker__year-read-view--down-arrow,
.datepicker__month-read-view--down-arrow,
.datepicker__month-year-read-view--down-arrow {
    margin-left: -8px;
    position: absolute;
}

    .datepicker-popper[data-placement^="bottom"] .datepicker__triangle, .datepicker-popper[data-placement^="top"] .datepicker__triangle, .datepicker__year-read-view--down-arrow,
    .datepicker__month-read-view--down-arrow,
    .datepicker__month-year-read-view--down-arrow, .datepicker-popper[data-placement^="bottom"] .datepicker__triangle::before, .datepicker-popper[data-placement^="top"] .datepicker__triangle::before, .datepicker__year-read-view--down-arrow::before,
    .datepicker__month-read-view--down-arrow::before,
    .datepicker__month-year-read-view--down-arrow::before {
        box-sizing: content-box;
        position: absolute;
        border: 8px solid transparent;
        height: 0;
        width: 1px;
    }

        .datepicker-popper[data-placement^="bottom"] .datepicker__triangle::before, .datepicker-popper[data-placement^="top"] .datepicker__triangle::before, .datepicker__year-read-view--down-arrow::before,
        .datepicker__month-read-view--down-arrow::before,
        .datepicker__month-year-read-view--down-arrow::before {
            content: "";
            z-index: -1;
            border-width: 8px;
            left: -8px;
            border-bottom-color: #aeaeae;
        }

.datepicker-popper[data-placement^="bottom"] .datepicker__triangle {
    top: 0;
    margin-top: -8px;
}

    .datepicker-popper[data-placement^="bottom"] .datepicker__triangle, .datepicker-popper[data-placement^="bottom"] .datepicker__triangle::before {
        border-top: none;
        border-bottom-color: #f0f0f0;
    }

        .datepicker-popper[data-placement^="bottom"] .datepicker__triangle::before {
            top: -1px;
            border-bottom-color: #aeaeae;
        }

.datepicker-popper[data-placement^="top"] .datepicker__triangle, .datepicker__year-read-view--down-arrow,
.datepicker__month-read-view--down-arrow,
.datepicker__month-year-read-view--down-arrow {
    bottom: 0;
    margin-bottom: -8px;
}

    .datepicker-popper[data-placement^="top"] .datepicker__triangle, .datepicker__year-read-view--down-arrow,
    .datepicker__month-read-view--down-arrow,
    .datepicker__month-year-read-view--down-arrow, .datepicker-popper[data-placement^="top"] .datepicker__triangle::before, .datepicker__year-read-view--down-arrow::before,
    .datepicker__month-read-view--down-arrow::before,
    .datepicker__month-year-read-view--down-arrow::before {
        border-bottom: none;
        border-top-color: #fff;
    }

        .datepicker-popper[data-placement^="top"] .datepicker__triangle::before, .datepicker__year-read-view--down-arrow::before,
        .datepicker__month-read-view--down-arrow::before,
        .datepicker__month-year-read-view--down-arrow::before {
            bottom: -1px;
            border-top-color: #aeaeae;
        }

.datepicker-wrapper {
    display: inline-block;
}

.datepicker {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    background-color: #fff;
    color: #000;
    border: 1px solid #aeaeae;
    border-radius: 0.3rem;
    display: inline-block;
    position: relative;
}

.datepicker--time-only .datepicker__triangle {
    left: 35px;
}

.datepicker--time-only .datepicker__time-container {
    border-left: 0;
}

.datepicker--time-only .datepicker__time {
    border-radius: 0.3rem;
}

.datepicker--time-only .datepicker__time-box {
    border-radius: 0.3rem;
}

.datepicker__triangle {
    position: absolute;
    left: 50px;
}

.datepicker-popper {
    z-index: 1;
}

    .datepicker-popper[data-placement^="bottom"] {
        margin-top: 10px;
    }

    .datepicker-popper[data-placement^="top"] {
        margin-bottom: 10px;
    }

    .datepicker-popper[data-placement^="right"] {
        margin-left: 8px;
    }

        .datepicker-popper[data-placement^="right"] .datepicker__triangle {
            left: auto;
            right: 42px;
        }

    .datepicker-popper[data-placement^="left"] {
        margin-right: 8px;
    }

        .datepicker-popper[data-placement^="left"] .datepicker__triangle {
            left: 42px;
            right: auto;
        }

.datepicker__header {
    text-align: center;
    background-color: #f0f0f0;
    border-bottom: 1px solid #aeaeae;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    padding-top: 8px;
    position: relative;
}

.datepicker__header--time {
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
}

.datepicker__year-dropdown-container--select,
.datepicker__month-dropdown-container--select,
.datepicker__month-year-dropdown-container--select,
.datepicker__year-dropdown-container--scroll,
.datepicker__month-dropdown-container--scroll,
.datepicker__month-year-dropdown-container--scroll {
    display: inline-block;
    margin: 0 2px;
}

.datepicker__current-month,
.datepicker-time__header {
    margin-top: 0;
    color: #000;
    font-weight: bold;
    font-size: 0.944rem;
}

.datepicker-time__header {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.datepicker__navigation {
    background: none;
    line-height: 1.7rem;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 10px;
    width: 0;
    padding: 0;
    border: 0.45rem solid transparent;
    z-index: 1;
    height: 10px;
    width: 10px;
    text-indent: -999em;
    overflow: hidden;
}

.datepicker__navigation--previous {
    left: 10px;
    border-right-color: #ccc;
}

    .datepicker__navigation--previous:hover {
        border-right-color: #b3b3b3;
    }

.datepicker__navigation--previous--disabled, .datepicker__navigation--previous--disabled:hover {
    border-right-color: #e6e6e6;
    cursor: default;
}

.datepicker__navigation--next {
    right: 10px;
    border-left-color: #ccc;
}

.datepicker__navigation--next--with-time:not(.datepicker__navigation--next--with-today-button) {
    right: 80px;
}

.datepicker__navigation--next:hover {
    border-left-color: #b3b3b3;
}

.datepicker__navigation--next--disabled, .datepicker__navigation--next--disabled:hover {
    border-left-color: #e6e6e6;
    cursor: default;
}

.datepicker__navigation--years {
    position: relative;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.datepicker__navigation--years-previous {
    top: 4px;
    border-top-color: #ccc;
}

    .datepicker__navigation--years-previous:hover {
        border-top-color: #b3b3b3;
    }

.datepicker__navigation--years-upcoming {
    top: -4px;
    border-bottom-color: #ccc;
}

    .datepicker__navigation--years-upcoming:hover {
        border-bottom-color: #b3b3b3;
    }

.datepicker__month-container {
    float: left;
}

.datepicker__month {
    margin: 0.4rem;
    text-align: center;
}

.datepicker__time-container {
    float: right;
    border-left: 1px solid #aeaeae;
    width: 70px;
}

.datepicker__time-container--with-today-button {
    display: inline;
    border: 1px solid #aeaeae;
    border-radius: 0.3rem;
    position: absolute;
    right: -72px;
    top: 0;
}

.datepicker__time-container .datepicker__time {
    position: relative;
    background: white;
}

    .datepicker__time-container .datepicker__time .datepicker__time-box {
        width: 70px;
        overflow-x: hidden;
        margin: 0 auto;
        text-align: center;
    }

        .datepicker__time-container .datepicker__time .datepicker__time-box ul.datepicker__time-list {
            list-style: none;
            margin: 0;
            height: calc(195px + (1.7rem / 2));
            overflow-y: scroll;
            padding-right: 30px;
            width: 100%;
            box-sizing: content-box;
        }

            .datepicker__time-container .datepicker__time .datepicker__time-box ul.datepicker__time-list li.datepicker__time-list-item {
                padding: 5px 10px;
            }

                .datepicker__time-container .datepicker__time .datepicker__time-box ul.datepicker__time-list li.datepicker__time-list-item:hover {
                    cursor: pointer;
                    background-color: #f0f0f0;
                }

            .datepicker__time-container .datepicker__time .datepicker__time-box ul.datepicker__time-list li.datepicker__time-list-item--selected {
                background-color: #216ba5;
                color: white;
                font-weight: bold;
            }

                .datepicker__time-container .datepicker__time .datepicker__time-box ul.datepicker__time-list li.datepicker__time-list-item--selected:hover {
                    background-color: #216ba5;
                }

            .datepicker__time-container .datepicker__time .datepicker__time-box ul.datepicker__time-list li.datepicker__time-list-item--disabled {
                color: #ccc;
            }

                .datepicker__time-container .datepicker__time .datepicker__time-box ul.datepicker__time-list li.datepicker__time-list-item--disabled:hover {
                    cursor: default;
                    background-color: transparent;
                }

.datepicker__week-number {
    color: #ccc;
    display: inline-block;
    width: 1.7rem;
    line-height: 1.7rem;
    text-align: center;
    margin: 0.166rem;
}

    .datepicker__week-number.datepicker__week-number--clickable {
        cursor: pointer;
    }

        .datepicker__week-number.datepicker__week-number--clickable:hover {
            border-radius: 0.3rem;
            background-color: #f0f0f0;
        }

.datepicker__day-names,
.datepicker__week {
    white-space: nowrap;
}

.datepicker__day-name,
.datepicker__day,
.datepicker__time-name {
    color: #000;
    display: inline-block;
    width: 1.7rem;
    line-height: 1.7rem;
    text-align: center;
    margin: 0.166rem;
}

.datepicker__day {
    cursor: pointer;
}

    .datepicker__day:hover {
        border-radius: 0.3rem;
        background-color: #f0f0f0;
    }

.datepicker__day--today {
    font-weight: bold;
}

.datepicker__day--highlighted {
    border-radius: 0.3rem;
    background-color: #3dcc4a;
    color: #fff;
}

    .datepicker__day--highlighted:hover {
        background-color: #32be3f;
    }

.datepicker__day--highlighted-custom-1 {
    color: magenta;
}

.datepicker__day--highlighted-custom-2 {
    color: green;
}

.datepicker__day--selected, .datepicker__day--in-selecting-range, .datepicker__day--in-range {
    border-radius: 0.3rem;
    background-color: #216ba5;
    color: #fff;
}

    .datepicker__day--selected:hover, .datepicker__day--in-selecting-range:hover, .datepicker__day--in-range:hover {
        background-color: #1d5d90;
    }

.datepicker__day--keyboard-selected {
    border-radius: 0.3rem;
    background-color: #2a87d0;
    color: #fff;
}

    .datepicker__day--keyboard-selected:hover {
        background-color: #1d5d90;
    }

.datepicker__day--in-selecting-range:not(.datepicker__day--in-range) {
    background-color: rgba(33, 107, 165, 0.5);
}

.datepicker__month--selecting-range .datepicker__day--in-range:not(.datepicker__day--in-selecting-range) {
    background-color: #f0f0f0;
    color: #000;
}

.datepicker__day--disabled {
    cursor: default;
    color: #ccc;
}

    .datepicker__day--disabled:hover {
        background-color: transparent;
    }

.datepicker__input-container {
    position: relative;
    display: inline-block;
    border: 1px solid #ddd; /* override new */
}

.datepicker__year-read-view,
.datepicker__month-read-view,
.datepicker__month-year-read-view {
    border: 1px solid transparent;
    border-radius: 0.3rem;
}

    .datepicker__year-read-view:hover,
    .datepicker__month-read-view:hover,
    .datepicker__month-year-read-view:hover {
        cursor: pointer;
    }

        .datepicker__year-read-view:hover .datepicker__year-read-view--down-arrow,
        .datepicker__year-read-view:hover .datepicker__month-read-view--down-arrow,
        .datepicker__month-read-view:hover .datepicker__year-read-view--down-arrow,
        .datepicker__month-read-view:hover .datepicker__month-read-view--down-arrow,
        .datepicker__month-year-read-view:hover .datepicker__year-read-view--down-arrow,
        .datepicker__month-year-read-view:hover .datepicker__month-read-view--down-arrow {
            border-top-color: #b3b3b3;
        }

.datepicker__year-read-view--down-arrow,
.datepicker__month-read-view--down-arrow,
.datepicker__month-year-read-view--down-arrow {
    border-top-color: #ccc;
    float: right;
    margin-left: 20px;
    top: 8px;
    position: relative;
    border-width: 0.45rem;
}

.datepicker__year-dropdown,
.datepicker__month-dropdown,
.datepicker__month-year-dropdown {
    background-color: #f0f0f0;
    position: absolute;
    width: 50%;
    left: 25%;
    top: 30px;
    z-index: 1;
    text-align: center;
    border-radius: 0.3rem;
    border: 1px solid #aeaeae;
}

    .datepicker__year-dropdown:hover,
    .datepicker__month-dropdown:hover,
    .datepicker__month-year-dropdown:hover {
        cursor: pointer;
    }

.datepicker__year-dropdown--scrollable,
.datepicker__month-dropdown--scrollable,
.datepicker__month-year-dropdown--scrollable {
    height: 150px;
    overflow-y: scroll;
}

.datepicker__year-option,
.datepicker__month-option,
.datepicker__month-year-option {
    line-height: 20px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    .datepicker__year-option:first-of-type,
    .datepicker__month-option:first-of-type,
    .datepicker__month-year-option:first-of-type {
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
    }

    .datepicker__year-option:last-of-type,
    .datepicker__month-option:last-of-type,
    .datepicker__month-year-option:last-of-type {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border-bottom-left-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
    }

    .datepicker__year-option:hover,
    .datepicker__month-option:hover,
    .datepicker__month-year-option:hover {
        background-color: #ccc;
    }

        .datepicker__year-option:hover .datepicker__navigation--years-upcoming,
        .datepicker__month-option:hover .datepicker__navigation--years-upcoming,
        .datepicker__month-year-option:hover .datepicker__navigation--years-upcoming {
            border-bottom-color: #b3b3b3;
        }

        .datepicker__year-option:hover .datepicker__navigation--years-previous,
        .datepicker__month-option:hover .datepicker__navigation--years-previous,
        .datepicker__month-year-option:hover .datepicker__navigation--years-previous {
            border-top-color: #b3b3b3;
        }

.datepicker__year-option--selected,
.datepicker__month-option--selected,
.datepicker__month-year-option--selected {
    position: absolute;
    left: 15px;
}

.datepicker__close-icon {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: 0;
    padding: 0;
    vertical-align: middle;
    position: absolute;
    height: 16px;
    width: 16px;
    top: 25%;
    right: 7px;
}

    .datepicker__close-icon::after {
        /* background-color: #216ba5; */
        /* border-radius: 50%; */
        bottom: 0;
        box-sizing: border-box;
        color: #333; /*#fff*/
        content: "\00d7";
        cursor: pointer;
        font-size: 16px; /*12px*/
        height: 18px; /*16px*/
        width: 18px; /*16px*/
        line-height: 1;
        margin: -8px auto 0;
        padding: 2px;
        position: absolute;
        right: 7px; /*0px*/
        text-align: center;
        top: 50%;
    }

.datepicker__today-button {
    background: #f0f0f0;
    border-top: 1px solid #aeaeae;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
    clear: left;
}

.datepicker__portal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 2147483647;
}

    .datepicker__portal .datepicker__day-name,
    .datepicker__portal .datepicker__day,
    .datepicker__portal .datepicker__time-name {
        width: 3rem;
        line-height: 3rem;
    }

@media (max-width: 400px), (max-height: 550px) {
    .datepicker__portal .datepicker__day-name,
    .datepicker__portal .datepicker__day,
    .datepicker__portal .datepicker__time-name {
        width: 2rem;
        line-height: 2rem;
    }
}

.datepicker__portal .datepicker__current-month,
.datepicker__portal .datepicker-time__header {
    font-size: 1.44rem;
}

.datepicker__portal .datepicker__navigation {
    border: 0.81rem solid transparent;
}

.datepicker__portal .datepicker__navigation--previous {
    border-right-color: #ccc;
}

    .datepicker__portal .datepicker__navigation--previous:hover {
        border-right-color: #b3b3b3;
    }

.datepicker__portal .datepicker__navigation--previous--disabled, .datepicker__portal .datepicker__navigation--previous--disabled:hover {
    border-right-color: #e6e6e6;
    cursor: default;
}

.datepicker__portal .datepicker__navigation--next {
    border-left-color: #ccc;
}

    .datepicker__portal .datepicker__navigation--next:hover {
        border-left-color: #b3b3b3;
    }

.datepicker__portal .datepicker__navigation--next--disabled, .datepicker__portal .datepicker__navigation--next--disabled:hover {
    border-left-color: #e6e6e6;
    cursor: default;
}

/*** 調整 for M2App ***/
/* readonly 上色 */
input[readonly].datepicker-input, input:read-only.datepicker-input {
    /*background-color: #fff;
    color: #636363;*/
}

/* disabled 上色 */
input[type="text"]:disabled.datepicker-input {
    background: #dddddd;
    color: #999;
}

    /* disabled, readonly 移除[x]button */
    input[readonly].datepicker-input + button.datepicker__close-icon,
    input:read-only.datepicker-input + button.datepicker__close-icon,
    input[type="text"]:disabled.datepicker-input + button.datepicker__close-icon {
        display: none;
    }
